---
import { getCollection } from 'astro:content';
import BaseLayout from '../layouts/BaseLayout.astro';
import Menu from '../components/Menu.astro';
import StickyHeader from '../components/StickyHeader.astro';
import FeaturedArticle from '../components/FeaturedArticle.astro';
import Sidebar from '../components/Sidebar.astro';

const posts = await getCollection('posts', ({ data }) => data.featured);
const featured = await getCollection('featured');

const pinned = posts[0];
posts.sort((a, b) => +b.data.date - +a.data.date);
---

<BaseLayout>
  <div class="blog">
    <Menu />
    <StickyHeader
      title="Self"
      pinnedLabel="Pinned Issue"
      pageNumber={pinned?.data.pageNumber ?? 'NO. 01'}
    />

    <div class="blog-header-container">
      {
        posts.map((post) => (
          <FeaturedArticle
            bigTitle={post.data.bigTitle}
            date={post.data.date}
            emphasis={post.data.emphasis}
            headline={post.data.headline}
            cover={post.data.cover}
            author={post.data.author}
            readTime={post.data.readTime}
            excerpt={post.data.excerpt}
            href={`/blog/${post.id}`}
          />
        ))
      }
    </div>

    <Sidebar entries={featured} />
  </div>
</BaseLayout>
